/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Go to https://developer.mozilla.org/docs/Tools/DevToolsColors
 * for the default colors used in Firefox Developer Tools */

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

p {
  display: flex;
  margin: 0 auto;
}

.theme-dark p {
  color: #f5f7fa;
}

.theme-light p {
  color: #ed2655;
}
